<style> 
.split {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 30;
  overflow-x: hidden;
  padding-top: 20px;
    background-color: rgb(180, 166, 166);
}
.btn {
  background-color: rgb(153, 18, 70);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 100%;
}
.right{right:0px;}

</style>
<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="split left">
                
                <div class="sidebar-header">
                        <a class="btn btn-primary mt-1 mb-2" href="buypants"> Pants </a>
                        <a class="btn btn-primary mt-3 mb-2" href="buyshirts"> Shirts </a>
                        <a class="btn btn-primary mt-3 mb-2" href="buymisc"> Misc. </a>
                </div>
            </div>
        </nav>
</div>


<!--
<div class="wrapper">
        
        <nav id="sidebar">
            <div class="split right">
                
                <div class="sidebar-header">
                        <h2 class="@h4 text-black font-weight-heavy ml-5">Your Bag</h2>
                </div>
            </div>
        </nav>
</div>
-->

<div class="container text-center py-5 mb-4">
    <div class="mt-3 mb-4">
        <h2 class=" text-gray font-weight-heavy">Select Clothing Category</h2>
    </div>
    <a href="buypants">
        <img src="img/pants1.png" class="w-100" style="max-width:400px;" />
          </a>
    
    <a href="buyshirts">
        <img src="img/shirts1.png" class="w-100" style="max-width:400px;" />
        </a>      
   
        <a href="buymisc">
            <img src="img/misc1.png" class="w-100" style="max-width:400px;" />
            </a>      
</div>
