<div class="bg-gray-light border-bottom border-gray-light">
        <div class="container text-center py-5 mb-4">
          <img src="img/Slacks.png" class="w-100" style="max-width:120px;" />
          <div class="mt-3 mb-4">
            <h1 class="h1 mb-0">Slacks: New Age Clothes Swap </h1>
            <h2 class="h4 text-gray font-weight-light">Walk a mile in my pants</h2>
          </div>
          <a class="btn btn-primary mt-4 mb-8" href="https://filson-products.imgix.net/images/11014010/Charcoal/11014010_Charcoal_main_01.png?auto=format,compress&fm=jpg&bg=EFEBE7&w=1000&h=1000&fit=crop"> Buy </a>
      
          <a class="btn btn-primary mt-4" href="/testpage"> Sell </a>
        </div>
      </div>
      
      
      <div class="text-gray-light text-center py-5 my-5">
        <p class="lead">Edit <code>controllers/</code> to update how to receive and reply to requests.</p>
        <p class="lead">Edit <code>templates/</code> to update the layout and styling.</p>
        <p class="lead">Edit <code>models/</code> to update how the data is stored.</p>
      </div>
      