<style> 
  .split {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 30;
    overflow-x: hidden;
    padding-top: 20px;
      background-color: rgb(180, 166, 166);
  }
  .btn {
    background-color: rgb(153, 18, 70);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
  }
  .right{right:0px;}
  
  </style>
  <div class="wrapper">
          <!-- Sidebar -->
          <nav id="sidebar">
              <div class="split left">
                  
                  <div class="sidebar-header">
                          <a class="btn btn-primary mt-1 mb-2" href="buypants"> Pants </a>
                          <a class="btn btn-primary mt-3 mb-2" href="buyshirts"> Shirts </a>
                          <a class="btn btn-primary mt-3 mb-2" href="buymisc"> Misc. </a>
                  </div>
              </div>
          </nav>
  </div>



{{#if items}}
{{#each items as |item2|}}
  {{> item item=item2 }}
{{/each}}
{{/if}}
      